<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>As Little As Possible</title>
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="The personal site of Adam Hall" />
    </head>
    <body>
        <header>
            <div>Logo</div>
            <h2>AHDesigns</h2>
            <p>MENU</p>
        </header>
        <script src=<%= process.env.BROWSER_REFRESH_URL %>></script>
    </body>
</html>
