<header>
    <div class="logo">Logo</div>
    <h2 class="home">AHDesigns</h2>
    <p class="menu">MENU</p>
</header>
<main>
    <div class="wrapper">
        <div class="a box">
            Here are some symbols === =>
        </div>
    </div>
</main>
<footer>
    chuffty®
</footer>
