<header class="site-header">
    <div class="logo"><% include logo %></div>
    <h2 class="home">AHDesigns</h2>
    <nav aria-label="adam hall designs">
        <p class="menu">MENU</p>
    </nav>
</header>

<main>
    <div class="wrapper">
        <div class="a box">
            Here are some symbols === =>
        </div>
    </div>
</main>
<footer>
    chuffty®
</footer>
