/* colors
red       #ff5c57
green     #5af78e
yellow    #f3f99d
blue      #57c7ff
magenta   #ff6ac1
cyan      #9aedfe
orange    #fecc9a
turqoise  #5af4ce
light_v   #d69eff
coral     #FF776E
bg        #282A36
fg        #f9f9f9
 */

body {
    background-color: #282A36;
    color: #f9f9f9;
    display: grid;
    font-family: 'Fira Code', serif;
    font-size:13px;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    line-height: 1.42em;
    min-height: 100vh;
    text-overflow: ellipsis;
    width: 100%;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #FF776E;
    font-size:22px;
}

.logo {
    /* width: 30px; */
    overflow: hidden;
}

.see {
    border: thick solid red;
}

svg {
    max-width:100%;
    max-height:100%;
}
